@import url("https://fonts.googleapis.com/css?family=Lora|Montserrat&display=swap");

* {
  font-family: "Montserrat", sans-serif;

  /* color:aqua; */
  /* font-family: "Lora", serif; */
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}
html {
  background-color: black;
}
.App {
  text-align: center;
  height: 100vh;
  background: linear-gradient(
    322deg,
    rgba(0, 0, 0, 1) 0%,
    rgb(14, 26, 68) 100%
  );
}

input {
  background-color: transparent;
  /* border: 1px solid black; */
  box-sizing: border-box;
  margin: 0.3em;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid aqua;
  -webkit-text-fill-color: aqua;
  -webkit-box-shadow: 0 0 0px 1000px #2a2c3a7a inset;
  transition: background-color 5000s ease-in-out 0s;
}
